@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

:root {
  --primary-100:#8B5FBF;
  --primary-200:#61398F;
  --primary-300:#FFFFFF;
  
  --accent-100:#D6C6E1;
  --accent-200:#9A73B5;
  
  --text-100:#4A4A4A;
  --text-200:#878787;

  --bg-100:#F5F3F7;
  --bg-200:#E9E4ED;
  --bg-300:#FFFFFF;
}

.theme_txt {
  color: var(--theme_text);
}

.form-with-lable lable {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  color: var(--theme_text);
  font-size: 14px;
  font-weight: 500;
}

.form-with-lable .input-box input {
  padding: 10px;
  background-color: #f3f1ff;
  border-radius: 8px;
  border: 2px solid var(--theme_secondary);
  width: 100%;
  outline: none;
  color: var(--theme_text);
  font-size: 14px;
}

.form-with-lable .input-box input::placeholder {
  color: #3d3d3d;
  font-weight: 500;
  font-size: 14px;
}

.form-with-lable .input-box input:focus {
  border: 2px solid var(--theme_primary);
}

.form-with-button button {
  padding: 10px 18px;
  border-radius: 8px;
  background-color: var(--btn_bg);
  color: var(--theme_white);
  transition: all 0.5s;
}

.form-with-button button:hover {
  background-color: var(--btn_hover_bg);
}

.is_error {
  font-size: 14px;
  color: crimson;
}